h1, h2, h3, h4, h5, h6, ul { margin-top: 0; margin-bottom: 0; }

ul { list-style-type: none; padding-left: 0; margin: 0; }

a:hover { text-decoration: none; }

img { object-fit: cover; }

i { margin-right: 5px; }

hr { border: 1px dotted silver; }

fieldset { display: block; margin-inline-start: 2px; margin-inline-end: 2px; padding-block-start: 0.35em; padding-inline-start: 0.75em; padding-inline-end: 0.75em; padding-block-end: 0.625em; min-inline-size: min-content; border-width: 2px; border-style: groove; border-color: threedface; border-image: initial; }

legend { display: block; padding-inline-start: 2px; padding-inline-end: 2px; border-width: initial; border-style: none; border-color: initial; border-image: initial; margin: 0; width: unset; }

.text-center { text-align: center; }

.btn-lg { border-radius: 0; }

.swiper-button-next, .swiper-button-prev { background-image: unset; width: unset; height: unset; }

.swiper-next, .swiper-prev { background: #896b69; color: white; padding: 35px 7px; transition: 0.3s; }
.swiper-next:hover, .swiper-prev:hover { background: #3f312d; }
.swiper-next i, .swiper-prev i { font-size: 24px; }

.swiper-next { right: 0; }

.swiper-prev { left: 0; }

.btn-style-1 { display: inline-block; position: relative; text-align: center; font-weight: bold; color: #3f312d; background: white; padding: 10px 15px; z-index: 1; border: 2px solid #3f312d; overflow: hidden; }
.btn-style-1:hover { color: white; }
.btn-style-1:hover span:nth-child(1) { top: 0; left: 0; }
.btn-style-1:hover span:nth-child(2) { top: 0; right: 0; }
.btn-style-1:hover span:nth-child(3) { bottom: 0; right: 0; }
.btn-style-1:hover span:nth-child(4) { bottom: 0; left: 0; }
.btn-style-1 span { position: absolute; width: 100%; height: 100%; background-color: #3f312d7d; transition: 0.5s; z-index: -1; }
.btn-style-1 span:nth-child(1) { top: 100%; left: 100%; }
.btn-style-1 span:nth-child(2) { top: 100%; right: 100%; }
.btn-style-1 span:nth-child(3) { bottom: 100%; right: 100%; }
.btn-style-1 span:nth-child(4) { bottom: 100%; left: 100%; }

.btn-scroll { display: none; z-index: 100; box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.8); width: 50px; height: 50px; text-align: center; font-size: 18px; font-weight: 600; position: fixed; bottom: 70px; right: 70px; background: #0984e3; padding: 15px; color: white; transition: 0.3s; }
.btn-scroll:hover { background: #81ecec; }

.form-control { border-radius: 0; }

header { float: left; width: 100%; }
header .top-bar { float: left; width: 100%; padding: 7px 0; background-color: #3f312d; }
header .top-bar strong { float: right; font-weight: normal; }
header .top-bar span, header .top-bar strong { color: white; font-size: 15px; font-weight: 600; }
header .logo { float: left; width: 100%; padding: 50px 0; }
header .logo span { font-size: 28px; font-weight: 600; }
header .logo a { color: #3f312d; }
header .logo a:hover { color: white; }
header .logo .btn-style-1 { float: right; }

nav { float: left; width: 100%; }

.stellarnav ul li { border-left: 1px solid #777; }
.stellarnav ul li:last-child { border-right: 1px solid #777; }
.stellarnav ul li a { padding: 0 20px; text-transform: uppercase; font-size: 18px; font-weight: 600; color: #333; }
.stellarnav ul li a:hover { color: #997b79; }
.stellarnav ul li a:hover > span:before { top: 25px; opacity: 1; }
.stellarnav ul span { position: relative; }
.stellarnav ul span::before { content: ''; position: absolute; top: 5px; left: 0; width: 100%; height: 2px; background-color: #997b79; transition: .3s; opacity: 0; }
.stellarnav ul .active a { color: #997b79; }
.stellarnav ul .active a > span:before { top: 25px; opacity: 1; }

.btn-menu { float: right; background: white; border: 0; font-size: 30px; text-align: center; }

.sticky { position: fixed; background: white; width: 100%; padding: 20px; z-index: 10; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); transition: 0.5s; }

.banner { margin-top: 20px; float: left; width: 100%; max-height: 550px; background-image: url("../images/img-3.jpg"); background-size: cover; background-repeat: no-repeat; text-align: center; padding: 80px 0; }
.banner h1, .banner h2, .banner h3 { color: white; }
.banner h1 { font-size: 80px; font-weight: 800; margin-bottom: 20px; }
.banner h2 { line-height: 1; font-size: 90px; font-weight: 400; }
.banner h3 { font-size: 30px; font-weight: 400; margin-bottom: 30px; }
.banner a { padding: 15px 40px; font-size: 20px; }

.wrapper { float: left; width: 100%; padding: 50px 0; }
.wrapper h1 { text-align: center; font-size: 40px; margin-bottom: 40px; font-weight: 800; font-family: 'tahoma'; }

.bg-1 { background: #f4f4f4; }

.bg-2 { background-image: url("../images/bg-1.png"); background-color: #e9e2e2; }
.bg-2 h1 { color: black; }

.bg-3 { background-attachment: fixed; background-image: url("../images/bg-1.png"); background-color: #3f312d; }
.bg-3 h1 { text-align: left; margin-bottom: 0; }
.bg-3 h2 { font-size: 30px; line-height: 1; }
.bg-3 img { height: 250px; }
.bg-3 p { color: #997b79; font-size: 18px; }

form { color: white; }
form button { margin-top: 20px; }
form label { color: #997b79; margin-top: 10px; }

.frm-2 h3 { color: #777; }
.frm-2 h2 { color: black; }

.wrap-flex { display: flex; float: left; width: 100%; }
.wrap-flex .col-md-6 { padding: 0; }
.wrap-flex img { width: 100%; height: 400px; }
.wrap-flex .wrap-column { display: block; width: 100%; background: white; padding: 35px; }
.wrap-flex .wrap-column:last-child { width: 50%; margin-left: 10px; }
.wrap-flex .wrap-col { width: 100%; height: 100%; background: white; }
.wrap-flex .content { padding: 0 50px; float: left; width: 100%; position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); }
.wrap-flex .content p { color: #777; }
.wrap-flex .content h2 { font-size: 30px; }

.block-style-1 { float: left; width: 100%; background: #f4f4f4; padding: 40px; margin-bottom: 20px; text-align: center; }
.block-style-1 i { font-size: 60px; color: #997b79; }
.block-style-1 h3 { margin-top: 20px; font-size: 20px; }

.card { float: left; width: 100%; min-height: 645px; background: #f4f4f4; padding: 30px; text-align: center; }
.card img { width: 100%; border-radius: 50%; height: 300px; }
.card i { margin-right: 0; }
.card h3 { font-size: 22px; font-family: 'tahoma'; margin-top: 20px; }
.card p { color: #777; font-size: 17px; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; }

.list-links { margin-top: 20px; }
.list-links li { display: inline-block; margin-right: 5px; }
.list-links li a { float: left; width: 30px; height: 30px; padding: 6px; border-radius: 50%; background: #896b69; color: white; transition: 0.3s; }
.list-links li a:hover { background: #3f312d; }

.card-2 { float: left; width: 100%; background: white; padding: 25px; }
.card-2 .desc { float: left; width: 100%; text-align: center; }
.card-2 .desc h3 { margin-top: 30px; }
.card-2 .desc p { margin: 0; margin-top: 10px; color: #896b69; font-size: 14px; font-weight: 600; }
.card-2 .images-block { position: relative; }
.card-2 .images-block span { position: absolute; top: 50%; left: 50%; background: rgba(0, 0, 0, 0.4); padding: 25px; border-radius: 50%; transform: translate(-50%, -50%); }
.card-2 .images-block img { width: 100%; }
.card-2 .images-block i { font-size: 25px; color: white; margin-right: 0; }

.card-3 { width: 100%; padding: 50px 25px; background: white; position: relative; }
.card-3 img { float: right; border-radius: 50%; width: 200px; height: 200px; }
.card-3 p { font-size: 20px; color: #777; }
.card-3 span { color: #997b79; font-weight: 600; }

.btn-lg { padding: 20px 30px; font-size: 20px; }

figure { float: left; width: 100%; margin-bottom: 15px; position: relative; overflow: hidden; }
figure:hover span { background: rgba(0, 0, 0, 0.6); }
figure:hover i { opacity: 1; }
figure:hover img { transform: scale(1.2); }
figure img { width: 100%; height: 160px; transition: .3s; }
figure span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); transition: 0.3s; }
figure i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 26px; color: white; opacity: 0; transition: 0.3s; }

.p-30 { padding: 30px; }

.wrapper-gallery h3 { margin-bottom: 50px; text-align: center; color: #777; padding: 0 15%; }

.list-style-2 { float: left; width: 100%; margin-bottom: 20px; margin-top: 15px; }
.list-style-2 li { display: block; border-bottom: 1px dotted #777; }
.list-style-2 li a { display: block; padding: 15px; text-align: center; font-size: 18px; color: #777; }

.dotted { display: block; margin-top: 15px; width: 100%; height: 3px; position: relative; }
.dotted::before { content: ''; position: absolute; top: 0; left: 45%; width: 10%; height: 100%; background: #3f312d; }

.wrapper-card { display: block; width: 100%; background: #f4f4f4; padding: 25px; }

.price { font-size: 22px; color: black !important; }

.list-qa div { overflow: unset; }
.list-qa div a { display: block; }

.panel-questions .panel { border: 0 !important; }
.panel-questions .panel-heading { background: white !important; border-bottom: 1px solid silver !important; padding: 10px 0; }
.panel-questions .panel-body { border-top: 1px solid silver !important; border-bottom: 1px solid silver !important; }

footer h1 { color: white; }
footer .list-contact li { display: block; margin-bottom: 10px; }
footer .list-contact li a { color: white; font-size: 20px; font-weight: 600; }
footer .list-contact li a:hover { color: white; }
footer .list-contact li i { width: 40px; height: 40px; text-align: center; padding: 8px; border-radius: 50%; border: 3px solid #997b79; font-size: 18px; }
footer .list-links a { width: 40px; height: 40px; padding: 10px; text-align: center; }
footer .list-links a:hover { background: #997b79; transform: rotate(360deg); }
footer .list-links a i { font-size: 18px; }

/*---------------RESPONSIVE------------------*/
@media only screen and (min-width: 320px) and (max-width: 767px) { header .top-bar { display: none; }
  header .logo { padding-top: 30px; }
  header .logo .btn-style-1 { float: unset; }
  header .logo span { font-size: 18px; }
  header img { margin: 40px 0; }
  .stellarnav ul li { border-left: 0; }
  .panel-title { font-size: 14px; }
  .wrapper { padding: 40px 0; }
  .wrapper h1 { font-size: 30px; }
  .wrapper-card, .card-2 { margin-bottom: 20px; }
  .wrap-flex { display: unset; }
  .wrap-flex .wrap-col { float: left; width: 100%; }
  .wrap-flex .content { float: left; width: 100%; position: unset; transform: unset; top: 0; left: 0; padding: 40px 50px; }
  .wrap-flex .content h2 { font-size: 24px; }
  .wrap-flex img { height: 260px; }
  .banner { padding: 60px 0; }
  .banner a { padding: 10px 25px; font-size: 18px; }
  .banner h3 { font-size: 20px; }
  .banner h2 { font-size: 34px; }
  .banner h1 { font-size: 34px; }
  figure img { height: 100px; }
  .wrapper-gallery h3 { padding: 0; }
  .bg-3 img { height: 170px; }
  .card-3 img { float: unset; }
  .card-3 p { font-size: 16px; }
  #swiper-button-next-card, #swiper-button-prev-card { top: 15%; }
  .btn-style-1 { padding: 10px 30px; }
  .stellarnav.mobile.right > ul { z-index: 100; background: #997b79; box-shadow: 5px 0px 6px 7px rgba(0, 0, 0, 0.5); }
  .stellarnav.mobile.right > ul a { color: white; }
  footer iframe { height: 250px !important; margin-top: 30px; }
  footer p { font-size: 16px !important; }
  footer .list-contact li a { font-size: 14px; }
  .stellarnav, nav { background: #997b79 !important; }
  .btn-scroll { bottom: 50px; right: 20px; } }
