$color-grown-1:#896b69;
$color-grown-2:#997b79;
$color-grown-3:rgb(63, 49, 45);
$color-default:#777;
$color-default-2:#f4f4f4;
$color-default-3:rgb(233, 226, 226);
$color-dark:#333;

$color-blue:#0984e3;
$color-green:#81ecec;
