@import "components/_color.scss";

h1,h2,h3,h4,h5,h6,ul{
	margin-top: 0;
	margin-bottom: 0;
}
ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
a{
	&:hover{
		text-decoration: none;
	}
}
img{
	object-fit: cover;
}
i{
	margin-right: 5px;
}
hr{
	border: 1px dotted silver;
}
fieldset{
	display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0;
    width: unset;
}
.text-center{
    text-align: center;
}
.btn-lg{
    border-radius: 0;
}
.swiper-button-next,
.swiper-button-prev{
    background-image: unset;
    width: unset;
    height: unset;
}

.swiper-next,
.swiper-prev{
    background: $color-grown-1;
    color:white;
    padding: 35px 7px;
    transition: 0.3s;
    &:hover{
        background: $color-grown-3;
    }
    i{
        font-size: 24px;
    }
}
.swiper-next{
    right: 0;
}
.swiper-prev{
    left: 0;
}