.banner{
	margin-top: 20px;
	float: left;
	width: 100%;
	max-height: 550px;
	background-image: url("../images/img-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 80px 0;
	h1,h2,h3{
		color:white;
	}
	h1{
		font-size: 80px;
		font-weight: 800;
		margin-bottom: 20px;
	}
	h2{
		line-height: 1;
		font-size: 90px;
		font-weight: 400;

	}
	h3{
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 30px;
	}
	a{
		padding: 15px 40px;
		font-size: 20px;
	}
}