footer{
	h1{
		color:white;
	}
	.list-contact{
		li{
			display: block;
			margin-bottom: 10px;
			a{
				color:white;
				font-size: 20px;
				font-weight: 600;
				&:hover{
					color:white;
				}
			}
			i{
				width: 40px;
				height: 40px;
				text-align: center;
				padding: 8px;
				border-radius: 50%;
				border:3px solid $color-grown-2;
				font-size: 18px;
			}
		}
	}
	.list-links{
		a{
			width:40px;
			height: 40px;
			padding: 10px;
			text-align: center;
			&:hover{
				background: $color-grown-2;
				transform: rotate(360deg);
			}
			i{
				font-size: 18px;
			}
		}
	}
}