.wrapper{
	float: left;
	width: 100%;
	// margin-bottom: 20px;
	padding: 50px 0;
	h1{
		text-align: center;
		font-size: 40px;
		margin-bottom: 40px;
		font-weight: 800;
		font-family: 'tahoma';
	}

}
.bg-1{
	background: $color-default-2;
}
.bg-2{
	background-image: url('../images/bg-1.png');
	background-color: $color-default-3;
	

	h1{
		color:black;
	}
}
.bg-3{
	background-attachment: fixed;
	background-image: url('../images/bg-1.png');
	background-color: $color-grown-3;
	h1{
		text-align: left;
		margin-bottom: 0;
	}
	h2{
		font-size: 30px;
		line-height: 1;
	}
	img{
		height: 250px;
	}
	p{
		color:$color-grown-2;
		font-size: 18px;
	}
	
}
form{
	color:white;
	button{
		margin-top: 20px;
	}
	label{
		color:$color-grown-2;
		margin-top: 10px;	
	}
}
.frm-2{
	h3{
		color:$color-default;
	}
	h2{
		color:black;
	}
}
.wrap-flex{
	display: flex;
	float: left;
	width: 100%;
	.col-md-6{
		padding: 0;
	}
	img{
		width: 100%;
		height: 400px;
	}
	.wrap-column{
		display: block;
		width: 100%;
		background: white;
		padding: 35px;
		&:last-child{
			width: 50%;
			margin-left: 10px;
		}
	}
	.wrap-col{
		width: 100%;
		height: 100%;
		background: white;
	}
	.content{
		padding: 0 50px;
		float: left;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%,-50%);
		p{
			color:$color-default;
		}
		h2{
			font-size: 30px;
		}
	}
}
.block-style-1{
	float:left;
	width: 100%;
	background: $color-default-2;
	padding: 40px;
	margin-bottom: 20px;
	text-align: center;
	i{
		font-size: 60px;
		color:$color-grown-2;
	}
	h3{
		margin-top: 20px;
		font-size: 20px;
	}
}
.card{
	float: left;
	width: 100%;
	min-height: 645px;
	background: $color-default-2;
	padding: 30px;
	text-align: center;
	img{
		width: 100%;
		border-radius: 50%;
		height: 300px;
	}
	i{
		margin-right: 0;
	}
	h3{
		font-size: 22px;
		font-family: 'tahoma';
		margin-top: 20px;
	}
	p{
		color:$color-default;
		font-size: 17px;
		@include textLine(6);
	}
}
.list-links{
	margin-top: 20px;
	li{
		display: inline-block;
		margin-right: 5px;
		a{
			float: left;
			width: 30px;
			height: 30px;
			padding: 6px;
			border-radius: 50%;
			background: $color-grown-1;
			color:white;
			transition: 0.3s;
			&:hover{
				background: $color-grown-3;
			}
		}
	}
}
.card-2{
	float: left;
	width: 100%;
	background: white;
	padding: 25px;
	.desc{
		float: left;
		width: 100%;
		text-align: center;
		h3{
			margin-top: 30px;
		}
		p{
			margin: 0;
			margin-top: 10px;
			color:$color-grown-1;
			font:{
				size: 14px;
				weight:600;
			};
		}
	}
	.images-block{
		position: relative;
		span{
			position: absolute;
			top: 50%;
			left: 50%;
			background: rgba(0,0,0,0.4);
			padding: 25px;
			border-radius: 50%;
			transform: translate(-50%,-50%);
		}
		img{
			width: 100%;
		}
		i{
			font-size: 25px;
			color:white;
			margin-right: 0;
		}
	}
}
.card-3{
	width: 100%;
	padding:50px 25px;
	background: white;
	position: relative;
	img{
		float: right;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}
	p{
		font-size: 20px;
		color:$color-default;
	}
	span{
		color:$color-grown-2;
		font-weight: 600;
	}
}
.btn-lg{
	padding: 20px 30px;
	font-size: 20px;
}
figure{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	&:hover{
		span{
			background: rgba(0,0,0,0.6);
		}
		i{
			opacity:1;
		}
		img{
			transform: scale(1.2);
		}
	}
	img{
		width: 100%;
		height: 160px;
		transition: .3s;
	}
	span{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0);
		transition:0.3s;
	}
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 26px;
		color:white;
		opacity:0;
		transition:0.3s;
	}
}
.p-30{
	padding: 30px;
}
.wrapper-gallery{
	h3{
		margin-bottom: 50px;
		text-align: center;
		color:$color-default;
		padding: 0 15%;
	}
}
.list-style-2{
	float: left;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 15px;
	li{
		display: block;
		border-bottom: 1px dotted $color-default;
		a{
			display: block;
			padding: 15px;
			text-align: center;
			font-size: 18px;
			color:$color-default;
		}
	}
}
.dotted{
	display: block;
	margin-top: 15px;
	width: 100%;
	height: 3px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 45%;
		width: 10%;
		height: 100%;
		background: $color-grown-3;
	}
}
.wrapper-card{
	display: block;
	width: 100%;
	background: $color-default-2;
	padding: 25px;
}
.price{
	font-size: 22px;
	color:black !important;
}
.list-qa{
	div{
		overflow:unset;
		a{
			display: block;
		}
	}
}
.panel-questions{
	.panel{
		border:0 !important;
	}
	.panel-heading{
		background: white !important;
		border-bottom: 1px solid silver !important;
		padding: 10px 0;
	}
	.panel-body{
		border-top: 1px solid silver !important;
		border-bottom: 1px solid silver !important;
	}
}
